*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body, html {
  height: 100%; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #f9f7f6;
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.bodyLayout {
  width: 75vw;
  margin: 0 auto; }

section {
  margin: 10rem 0;
  font-size: 1.5rem;
  text-align: center; }

.header {
  position: relative;
  background-size: cover;
  height: fit-content;
  margin-bottom: 0rem;
  grid-column: full-start / full-end;
  z-index: 1; }

.parallax {
  background-image: url(/img/Exterior/header-img.jpg);
  opacity: .4;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.title {
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  text-align: center;
  width: max-content;
  z-index: 1; }

.headerTitle {
  position: absolute;
  left: 4rem;
  top: 4rem;
  font-family: 'Allura', cursive;
  font-size: 8rem;
  font-weight: bold;
  z-index: 2;
  color: sandybrown; }

.headerParagraph {
  font-size: 6rem;
  margin: 1rem; }

.paragraph {
  font-size: 3rem; }

.paragraph,
.headerParagraph {
  font-family: nunito; }

.buttons {
  margin-top: 5rem; }

.btn {
  font-size: 4rem;
  margin: 3rem; }

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 2rem;
  margin-top: 5rem;
  justify-content: center; }
  @media (max-width: 100rem) {
    .grid {
      grid-template-columns: repeat(3, minmax(300px, 1fr)); } }
  @media (max-width: 70rem) {
    .grid {
      grid-template-columns: repeat(2, minmax(300px, 1fr)); } }
  @media (max-width: 50rem) {
    .grid {
      grid-template-columns: minmax(300px, 1fr); } }

img {
  max-width: 100%;
  height: auto;
  background-image: cover; }

.apt-header1 {
  text-align: center;
  margin: 0 auto;
  font-size: 5rem; }

.apt1 {
  text-align: center;
  display: inline-block; }
  .apt1__title {
    min-height: fit-content;
    font-size: 3rem;
    font-weight: bold; }
  .apt1__img {
    width: 100%;
    background-position: center; }
  .apt1__body {
    min-height: fit-content;
    font-size: 2rem; }

.apt2 {
  text-align: center; }
  .apt2__title {
    min-height: fit-content;
    font-size: 3rem;
    font-weight: bold; }
  .apt2__img {
    width: 100%; }
  .apt2__body {
    min-height: fit-content;
    font-size: 2rem; }

.apt3 {
  text-align: center; }
  .apt3__title {
    min-height: fit-content;
    font-size: 3rem;
    font-weight: bold; }
  .apt3__img {
    width: 100%; }
  .apt3__body {
    min-height: fit-content;
    font-size: 2rem; }

.apt4 {
  height: 100%;
  text-align: center; }
  .apt4__title {
    min-height: fit-content;
    font-size: 3rem;
    font-weight: bold; }
  .apt4__img {
    width: 100%;
    background-color: purple; }
  .apt4__body {
    min-height: fit-content;
    font-size: 2rem; }

.apt5 {
  height: 100%;
  text-align: center; }
  .apt5__title {
    min-height: fit-content;
    font-size: 3rem;
    font-weight: bold; }
  .apt5__img {
    width: 100%;
    background-color: purple; }
  .apt5__body {
    min-height: fit-content;
    font-size: 2rem; }

.apt6 {
  height: 100%;
  text-align: center; }
  .apt6__title {
    min-height: fit-content;
    font-size: 3rem;
    font-weight: bold; }
  .apt6__img {
    width: 100%;
    background-color: purple; }
  .apt6__body {
    min-height: fit-content;
    font-size: 2rem; }

.apt7 {
  height: 100%;
  text-align: center; }
  .apt7__title {
    min-height: fit-content;
    font-size: 3rem;
    font-weight: bold; }
  .apt7__img {
    width: 100%;
    background-color: purple; }
  .apt7__body {
    min-height: fit-content;
    font-size: 2rem; }

.infoGrid {
  display: grid;
  grid-template-columns: 2fr 1fr; }

.information__terms {
  grid-column: 1/1;
  grid-row: 1/1;
  font-size: 2.5rem; }

.information__content {
  width: 70rem;
  font-size: 2.5rem; }

.information__map {
  text-align: center;
  font-size: 3rem;
  grid-column: center-start /center-end;
  margin: 10rem 0 10rem 0; }

.information__header {
  font-size: 3.5rem; }

.information__map h2 {
  font-size: 4rem;
  margin: 4rem; }

.information__map #map {
  max-width: 100%;
  height: 65rem;
  -webkit-box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.5); }

.information__img {
  background-image: url(/img/exterior/109154269.jpg);
  height: 60rem; }

.facilities {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 21rem));
  grid-template-rows: 5rem 1fr 1fr;
  font-size: 1.8rem;
  text-align: center;
  padding-top: 10rem; }

.logo {
  font-size: 3rem; }

.facility__header {
  grid-column: 2;
  grid-row: 1; }
  .facility__header h2 {
    font-size: 3rem; }

.facility__item1 {
  grid-column: 1;
  grid-row: 2; }

.facility__item2 {
  grid-column: 2;
  grid-row: 2; }

.facility__item3 {
  grid-column: 3;
  grid-row: 2; }

.facility__item4 {
  grid-column: 1;
  grid-row: 3; }

.facility__item5 {
  grid-column: 2;
  grid-row: 3; }

.facility__item6 {
  grid-column: 3;
  grid-row: 3; }

.facilities h2 {
  margin-bottom: 2.3rem;
  font-weight: bold; }

.contactForm {
  grid-column: center-start/center-end;
  text-align: center;
  font-size: 3rem;
  margin: 0 3rem; }

.footer {
  background-color: #6D5D4B;
  grid-column: full-start / full-end;
  color: white;
  margin-top: 5rem;
  font-size: 2rem;
  text-align: center; }
  .footer__content {
    margin: 10rem 0 3rem 0; }

.pageHeader {
  grid-column: full-start / full-end;
  text-align: center;
  font-size: 3rem; }

.apt_display {
  grid-column: center-start / center-end;
  font-size: 1.5rem; }

.masonry {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  padding: .5rem; }

.masonry__brick {
  flex: auto;
  height: 150px;
  min-width: 100px;
  margin: 5px; }

.masonry__brick:nth-child(4n+1) {
  width: 250px; }

.masonry__brick:nth-child(4n+2):nth-child(4n+2) {
  width: 325px; }

.masonry__brick:nth-child(4n+1):nth-child(4n+3) {
  width: 180px; }

.masonry__brick:nth-child(4n+1):nth-child(4n+4) {
  width: 380px; }
