*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #f9f7f6;
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.bodyLayout {
  width: 100%;
  display: grid;
  grid-template-rows: 100vh repeat(5, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 10rem) [col-end]) [center-end] 1fr [full-end]; }

section {
  margin: 10rem 0;
  font-size: 1.5rem;
  text-align: center; }

.header {
  margin: 2rem;
  background-color: cornflowerblue;
  background-size: cover;
  grid-column: full-start / full-end; }

.title {
  color: white;
  text-align: center;
  margin: 25rem auto;
  width: max-content; }

.headerTitle {
  font-size: 7rem; }

.headerParagraph {
  font-size: 3rem; }

.readMore {
  font-size: inherit; }

.buttons {
  font-size: inherit; }

.monolocale {
  grid-column: center-start / center-end;
  height: 80rem; }

.bilocale {
  grid-column: center-start / center-end;
  height: 80rem; }

.trilocale {
  grid-column: center-start / center-end;
  height: 80rem; }

.wrapper {
  display: grid;
  grid-template-columns: 1fr [center-start] repeat(8, [col-start] minmax(min-content, 13rem) [col-end]) [center-end] 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem; }

.apt1 {
  grid-column: center-start / col-end 4;
  grid-row: span 2;
  height: 81rem;
  text-align: center; }
  .apt1__title {
    height: 5rem;
    font-size: 3rem;
    font-weight: bold; }
  .apt1__img {
    height: 61rem;
    background-color: purple; }
  .apt1__body {
    height: 5rem;
    font-size: 2rem; }

.apt2 {
  grid-column: col-start 5 / center-end;
  height: 40rem;
  text-align: center; }
  .apt2__title {
    height: 5rem;
    font-size: 3rem;
    font-weight: bold; }
  .apt2__img {
    height: 30rem;
    background-color: purple; }
  .apt2__body {
    height: 5rem;
    font-size: 2rem; }

.apt3 {
  grid-column: col-start 5 / center-end;
  height: 40rem;
  text-align: center; }
  .apt3__title {
    height: 5rem;
    font-size: 3rem;
    font-weight: bold; }
  .apt3__img {
    height: 30rem;
    background-color: purple; }
  .apt3__body {
    height: 5rem;
    font-size: 2rem; }

.apt4 {
  grid-column: center-end / center-end;
  height: 100%;
  text-align: center; }
  .apt4__title {
    height: 5rem;
    font-size: 3rem;
    font-weight: bold; }
  .apt4__img {
    height: 30rem;
    background-color: purple; }
  .apt4__body {
    height: 5rem;
    font-size: 2rem; }

.apt5 {
  grid-column: col-start 5 / center-end;
  height: 100%;
  text-align: center; }
  .apt5__title {
    height: 5rem;
    font-size: 3rem;
    font-weight: bold; }
  .apt5__img {
    height: 30rem;
    background-color: purple; }
  .apt5__body {
    height: 5rem;
    font-size: 2rem; }

.information__terms {
  color: white;
  font-size: 2rem;
  background-color: #54483A;
  grid-column: center-start / center-end;
  padding: 10rem 0; }

.information__map {
  color: white;
  font-size: 2rem;
  background-color: #B28451;
  grid-column: center-start /center-end;
  padding: 10rem 0; }

.footer {
  background-color: #6D5D4B;
  grid-column: full-start / full-end;
  color: white;
  font-size: 2rem; }
