.monolocale{
    // background-color: $color-secondary;
    grid-column: center-start / center-end;
    height:80rem;
}
.bilocale{
    // background-color: $color-grey-dark-1;
    grid-column: center-start / center-end;
    height: 80rem;
}
.trilocale{
    // background-color: $color-grey-light-1;
    grid-column: center-start / center-end;
    height: 80rem;

}
.wrapper{
    display: grid;
    grid-template-columns: 1fr [center-start] repeat(8, [col-start] minmax(min-content, 13rem)[col-end]) [center-end] 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;

}

.apt {
    &1{
        // background-color: red;   
        grid-column: center-start / col-end 4;
        grid-row: span 2; 
        height: 81rem;
        text-align:center;   
        &__title{
            height:5rem;
            font-size:3rem;
            font-weight: bold;
        }
        &__img {
            height: 61rem;
            background-color: purple;
        }
        &__body{
            height:5rem;
            font-size:2rem;
        }
    }
    &2{
        grid-column: col-start 5 / center-end;
        // background-color: blue;
        height:40rem;
        text-align:center;   
        &__title{
            height:5rem;
            font-size:3rem;
            font-weight: bold;
        }
        &__img {
            height: 30rem;
            background-color: purple;
        }
        &__body{
            height:5rem;
            font-size:2rem;
        }
    }
    &3{
        grid-column: col-start 5 / center-end;
        // background-color: green;  
        height:40rem; 
        text-align:center;   
        &__title{
            height:5rem;
            font-size:3rem;
            font-weight: bold;
        }
        &__img {
            height: 30rem;
            background-color: purple;
        }
        &__body{
            height:5rem;
            font-size:2rem;
        }
    }
    &4{
        grid-column: center-end / center-end;
        // background-color: green;  
        height:100%; 
        text-align:center;   
        &__title{
            height:5rem;
            font-size:3rem;
            font-weight: bold;
        }
        &__img {
            height: 30rem;
            background-color: purple;
        }
        &__body{
            height:5rem;
            font-size:2rem;
        }
    }

    &5{
        grid-column: col-start 5 / center-end;
        // background-color: green;  
        height:100%; 
        text-align:center;   
        &__title{
            height:5rem;
            font-size:3rem;
            font-weight: bold;
        }
        &__img {
            height: 30rem;
            background-color: purple;
        }
        &__body{
            height:5rem;
            font-size: 2rem;
        }
}
}