.information{
    &__terms{
        color:white;
    font-size:2rem;
        background-color: #54483A;
        grid-column: center-start / center-end;
        padding: 10rem 0;
    }
    &__map{
        color:white;
    font-size:2rem;
        background-color:#B28451;
        grid-column: center-start /center-end;
        padding: 10rem 0;
    }
}

