// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
body,
html {
	height: 100%;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	background-color: $color-grey-light-1;
	font-family: $font-primary;
	color: $color-grey-dark-2;
	font-weight: 300;
	line-height: 1.6;
}
.site-container {
	overflow-x: hidden;
}

// .bodyLayout{
//     width: 90vw;
//     margin: 30rem auto 0;
//     // display: grid;
//     // grid-template-rows: min-content repeat( 5, min-content);
//     // grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] 1fr [full-end];
// }

.section {
	&__apartments,
	&__information,
	&__gallery,
	&__map {
		width: 90vw;
		margin: 20rem auto 0;
	}

	// &__apartments {
	// 	width: 90vw;
	// 	// margin: 30rem auto 0;
	// }
	// &__information {
	// 	width: 90vw;
	// 	//     margin: 30rem auto 0;
	// }
	// &__gallery {
	// 	width: 70rem;
	// 	//     margin: 30rem auto 0;
	// }
	// // &__map {
	// // }
}

main {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

section {
	margin: 10rem 0;
	font-size: 1.5rem;
	text-align: center;
}
