// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #b28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #efefef;

$color-grey-dark-1: #54483a;
$color-grey-dark-2: #6d5d4b;

// FONT VARIABLES
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body,
html {
  height: 100%;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
.center {
  margin: 0 auto;
  text-align: center;
}
body {
  background-color: $color-grey-light-1;
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}
.site-container {
  &__apts {
    width: 100vw;
    margin: 0 auto;
  }
  overflow-x: hidden;
}

nav {
  width: 100vw;
  height: 0;
}
.nav {
  height: 0;
  &bar-fixed {
    height: 0;
  }
}
.btn-large i {
  font-size: 4rem;
}

.section {
  &__div {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
  &__apartments,
  &__information,
  &__gallery,
  &__map {
    width: 90vw;
    margin: 10rem auto 0;
  }
  &__light {
    background-color: $color-grey-light-1;
  }
  &__dark {
    background-color: $color-grey-light-2;
  }
}

main {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

section {
  margin: 5rem 0;
  font-size: 1.5rem;
  // text-align: center;
}
