.header {
	position: relative;
	margin-bottom: 15rem;
}
.parallax {
	background-image: linear-gradient(to right, rgba(0, 0, 0, .3), rgba(255, 255, 255, .2)),
		url('/public/img/20170708_164010\ \(Stor\).jpg');
	// background-image: url('/img/20170708_164010\ \(Stor\).jpg');
	background-position: center;
	background-size: cover;
	height: 85vh;

	clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
}

.button {
	background-color: transparent;
	border: none;
	color: black;
	padding: 1.5rem 3rem;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	font-size: 4rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.downArrow {
	border: solid;
	border-width: 0 .3rem .3rem 0;
	display: inline-block;
	padding: 2rem;
	// transform: translateY(-5rem);s
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
hr {
	position: absolute;
	top: 8rem;
	border-width: 0.3rem;
	z-index: 6;
	width: 100%;
	background-color: sandybrown;
	opacity: .5;
}
.title {
	position: absolute;
	top: 20rem;
	left: 50%;
	transform: translateX(-50%);
	color: black;
	text-align: center;
	width: max-content;
	z-index: 1;
}
.headerTitle {
	position: absolute;
	left: 4rem;
	top: 1rem;
	font-family: 'Allura', cursive;
	font-size: 9rem;
	font-weight: bold;
	z-index: 2;
	color: white;

	@media (max-width: 100rem) {
		font-size: 8rem;
	}
	@media (max-width: 80rem) {
		font-size: 6rem;
	}
	@media (max-width: 60rem) {
		font-size: 4rem;
	}
}

.headerParagraph {
	font-size: 8rem;
	margin: 1rem;
	@media (max-width: 80rem) {
		font-size: 6rem;
	}
	@media (max-width: 60rem) {
		font-size: 4rem;
	}
}
.paragraph {
	font-size: 4rem;
	@media (max-width: 80rem) {
		font-size: 3rem;
	}
	@media (max-width: 60rem) {
		font-size: 2rem;
	}
}
.paragraph,
.headerParagraph {
	color: white;
	font-family: nunito;
}

.buttons {
	margin-top: 5rem;
}
.btn {
	font-size: 5rem;
	margin: 3rem;
}

.lgSelect {
	font-size: 2rem;
	& a {
		color: white;
	}

	position: absolute;
	top: 1rem;
	right: 1.5rem;
}
