.header {
  position: relative;
  margin-bottom: 15rem;
}

#sidebar-icon {
  padding-left: 2rem;
  padding-top: 2rem;
}
.sidenav {
  width: 25rem;
}

.materialbox-caption {
  font-size: 2rem;
}
.parallax {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.3),
      rgba(255, 255, 255, 0.2)
    ),
    url("/img/Livigno_Valley.jpg");
  // background-image: url('/img/20170708_164010\ \(Stor\).jpg');
  background-position: center;
  background-size: cover;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);

  @media (max-width: 50rem) {
    height: 90vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.button {
  background-color: transparent;
  border: none;
  color: black;
  padding: 1.5rem 3rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 4rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 80rem) {
    font-size: 3rem;
  }
  @media (max-width: 60rem) {
    font-size: 2.5rem;
  }
}

.downArrow {
  border: solid;
  border-width: 0 0.3rem 0.3rem 0;
  display: inline-block;
  padding: 2rem;
  // transform: translateY(-5rem);s
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  @media (max-width: 60rem) {
    padding: 1.5rem;
  }
}
hr {
  margin: 0 5rem;
}
#HeaderGrid {
  position: absolute;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
  grid-gap: 20rem;
  align-items: center;
}
.title {
  color: black;
  text-align: center;
  width: max-content;
  z-index: 1;
  // @media (orientation: landscape) {
  //   top: 12rem;
  // }
}

.right {
  margin-right: 3rem;
}
nav .brand-logo {
  margin: 0 0 0 4rem;
  font-size: 6rem;
}
@media (max-width: 900px) {
  nav .brand-logo {
    margin: 0 0 0 0.2rem;
    font-size: 4rem;
  }
}
nav ul a {
  font-size: 2rem;
}

nav i.material-icons {
  font-size: 4rem;
}

#apartmentsNav a.brand-logo {
  color: $color-primary-dark;
}
#apartmentsNav nav div a {
  color: $color-primary-dark;
}

.headerTitle {
  position: absolute;
  left: 4rem;
  font-family: "Allura", cursive;
  font-size: 12rem;
  font-weight: bold;
  z-index: 2;
  // text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

  @media (max-width: 100rem) {
    font-size: 8rem;
  }
  @media (max-width: 80rem) {
    font-size: 6rem;
    // top: .5rem;
    left: 2rem;
  }
  @media (max-width: 60rem) {
    font-size: 4.5rem;
    top: 0.5rem;
    left: 1.5rem;
  }
}

.headerParagraph {
  font-size: 10rem;
  margin: 1rem;
  text-shadow: 5px 4px 2px rgba(0, 0, 0, 0.5);
  @media (max-width: 80rem) {
    font-size: 6rem;
  }
  @media (max-width: 60rem) {
    font-size: 4.5rem;
  }
}
.paragraph {
  font-size: 6rem;
  text-shadow: 5px 4px 2px rgba(0, 0, 0, 0.5);
  @media (max-width: 80rem) {
    font-size: 3.3rem;
  }
  @media (max-width: 60rem) {
    font-size: 2.3rem;
  }
}
.paragraph,
.headerParagraph {
  color: white;
  font-family: nunito;
}

.buttons {
  margin-top: 5rem;
}
.btn {
  font-size: 2.5rem;
  margin: 3rem;
}
a i {
  font-size: 3rem;
}

.lgSelect {
  font-size: 2rem;
  & a {
    color: white;
  }

  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
