@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura/Allura-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Josefin Sans";
  src: url(../fonts/Josefin_Sans/JosefinSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Nunito";
  src: url(../fonts/Nunito/Nunito-Regular.ttf) format("truetype");
}
