.apartment {
  &__header1 {
    font-size: 4rem;
  }
  &__header2 {
    font-size: 2.5rem;
  }
  &__paragraph {
    font-size: 2rem;
    padding: 1rem;
    @media (max-width: 70rem) {
      font-size: 1.8rem;
    }
    @media (max-width: 50rem) {
      font-size: 1.6rem;
    }
  }
}

#header_apartments {
  margin-top: 10rem;
  font-size: 5rem;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
