.room__details {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 0;
  list-style: none;
  &__item {
    flex: 1;
  }
}
.Link {
  display: block;
}

.apartments {
  margin-top: 40rem;
  @media (max-width: 80rem) {
    margin-top: 30rem;
  }
  @media (max-width: 60rem) {
    margin-top: 20rem;
  }
}

.card {
  &-action {
    font-size: 2.5rem;
    @media (max-width: 80rem) {
      font-size: 2rem;
    }
    @media (max-width: 60rem) {
      font-size: 1.5rem;
    }
  }
  &-title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  &-content {
    height: 23rem;
    @media (max-width: 80rem) {
      height: 20rem;
    }
    @media (max-width: 60rem) {
      height: 18rem;
    }
  }
}
.full_width_map {
  max-width: 45rem;
  margin: 0 auto;
}

.apt {
  &-header {
    text-align: center;
    margin: 0 auto;
    & h1 {
      font-size: 7rem;
      @media (max-width: 80rem) {
        font-size: 5rem;
      }
      @media (max-width: 60rem) {
        font-size: 4rem;
      }
    }
  }

  &1,
  &2,
  &3,
  &4,
  &5,
  &6,
  &7 {
    text-align: center;

    &__title {
      min-height: fit-content;
      font-size: 6rem;
      font-weight: bold;
      @media (max-width: 80rem) {
        font-size: 2.5rem;
      }
      @media (max-width: 60rem) {
        font-size: 2rem;
      }
    }
    &__img {
      width: 100%;
      background-position: center;
    }
    &__body {
      min-height: fit-content;
      font-size: 1.9rem;
      @media (max-width: 80rem) {
        font-size: 1.7rem;
      }
      @media (max-width: 60rem) {
        font-size: 1.5rem;
      }
    }
  }
}
