<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" /> 
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/dist/style.css" />
    <title>Casa Anita - Apartments</title>
  </head>
  <body class="bodyLayout">
      
  <div class="" id=apartmentsNav>
    <nav class="navbar-fixed">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo headerTitle">Casa Anita</a>
        <a
          href="#"
          data-target="mobile-demo"
          class="sidenav-trigger show-on-large"
          ><i class="material-icons">menu</i></a
        >
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a class="dropdown-trigger" href="#!" data-target="dropdown1"
              ><i class="material-icons left">language</i>Language:<i
                class="material-icons right"
                >arrow_drop_down</i
              ></a
            >
          </li>
        </ul>
      </div>
    </nav>
    <ul id="dropdown1" class="dropdown-content">
      <li>
        <a i18next-key="languageSelect.en" href="/apartments?lng=en"
          ><span class="flag-icon flag-icon-gb"></span> English</a
        >
      </li>
      <li>
        <a i18next-key="languageSelect.it" href="/apartments?lng=it"
          ><span class="flag-icon flag-icon-it"></span> Italiano</a
        >
      </li>
      <li>
        <a i18next-key="languageSelect.no" href="/apartments?lng=no"
          ><span class="flag-icon flag-icon-no"></span> Norsk</a
        >
      </li>
    </ul>
    </div> 
    <ul class="sidenav" id="mobile-demo">
      <li class="collection-header"><h4>Apartments:</h4></li>
      <li><a href="#apartment1">Apartment 1</a></li>
      <li><a href="#apartment2">Apartment 2</a></li>
      <li><a href="#apartment3">Apartment 3</a></li>
      <li><a href="#apartment4">Apartment 4</a></li>
      <li><a href="#apartment5">Apartment 5</a></li>
      <li><a href="#apartment6">Apartment 6</a></li>
      <li><a href="#apartment7">Apartment 7</a></li>
      <ul class="collection">
        <li class="collection-header">
          <h5><i class="material-icons left">language</i>Language:</h5>
        </li>
        <li>
          <a i18next-key="languageSelect.en" href="/?lng=en"
            ><span class="flag-icon flag-icon-gb"></span> English</a
          >
        </li>
        <li>
          <a i18next-key="languageSelect.it" href="/?lng=it"
            ><span class="flag-icon flag-icon-it"></span> Italiano</a
          >
        </li>
        <li>
          <a i18next-key="languageSelect.no" href="/?lng=no"
            ><span class="flag-icon flag-icon-no"></span> Norsk</a
          >
        </li>
      </ul>
    </ul>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red" href="#top">
        <i class="large material-icons">arrow_upward</i>
      </a>
    </div>
    <section id="top"></section>
    <div class="site-container site-container__apts">
      <div class="grid__nav__main">
        <div class="container1">
          <div class="apartment__header1 center">
            <h1 id="header_apartments">Our Apartments:</h1>
          </div>
          <section id="apartment1" class="apartment1 section scrollspy section__light">
            <div class="section__div">
              <h1>Apartment 1</h1>
              <div class="colGrid__2-3">
                <div class="rowGrid">
                  <div class="infoGridTop">
                    <h3>About the apartment:</h3>
                    <p class="apartment__paragraph">
                      The apartment is a two rooms with one bedroom, one living
                      room, bathroom and kitchen. In the bedroom there are a
                      double bed with sheets, and two wardrobes. The living room
                      contains a fully furnished kitchen, television and a sofa
                      bed for one person. In the bathroom you will find a shower
                      and fresh towels. The apartment is suitable for two or
                      three persons, particularly fitted for a small family.
                    </p>
                    <a href="https://www.booking.com/hotel/it/residence-capriolo-livigno" class="waves-effect waves-light btn"><i class="material-icons left">call_made</i>Book Now</a>
                  </div>
                  <hr>
                  <div class="infoGridBottom">
                    <h4 class="floorplan_header">Floorplan:</h4>
                    <img
                      src="/img/gallery/apt1/apt1_map.jpg"
                      alt="Floorplan over apartment 1"
                      class="materialboxed center full_width_map"
                      data-caption="Floorplan over apartment 1"
                    />
                  </div>
                </div>
                <div class="galleryDiv">
                  <h2 class="section__div">Gallery:</h2>
                  <div class="galleryGrid">
                    <div class="img__container">
                      <img
                        src="/img/gallery/apt1/apt1_bedroom.jpg"
                        alt="Image 1"
                        class="gallery__img materialboxed"
                        data-caption="Something"
                      />
                    </div>
                    <div class="img__container">
                      <img
                        src="/img/gallery/apt1/apt1_bathroom.jpg"
                        alt="Image 2"
                        class="gallery__img materialboxed"
                        data-caption="Something"
                      />
                    </div>
                    <div class="img__container">
                      <img
                        src="/img/gallery/apt1/apt1_kitchen.jpg"
                        alt="Image 11"
                        class="gallery__img materialboxed"
                        data-caption="Something"
                      />
                    </div>
                    <div class="img__container">
                      <img
                        src="/img/gallery/apt1/apt1_livingroom1.jpg"
                        alt="Image 7"
                        class="gallery__img materialboxed"
                        data-caption="Something"
                      />
                    </div>
                    <div class="img__container">
                      <img
                        src="/img/gallery/apt1/apt1_livingroom2.jpg"
                        alt="Image 8"
                        class="gallery__img materialboxed"
                        data-caption="Something"
                      />
                    </div>
                    <div class="img__container">
                      <img
                        src="/img/gallery/apt1/apt1_livingroom3.jpg"
                        alt="Image 9"
                        class="gallery__img materialboxed"
                        data-caption="Something"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="apartment2" class="apartment2 section scrollspy section__dark">
            <div class="section__div">
              <h1>Apartment 2</h1>
              <div class="colGrid__2-3">
                <div class="rowGrid">
                  <h4>About the apartment:</h4>
                  <div class="infoGridTop">
                  <p class="apartment__paragraph">
                    The apartment is a single room with bathroom and a living
                    area. In the flat there are a double bed (which can
                    eventually become two single beds) with sheets, and a
                    wardrobe. The living area contains a fully furnished
                    kitchen, a table, and television. In the bathroom you will
                    find a washing machine and fresh towels.
                  </p>
                  <a href="https://www.booking.com/hotel/it/residence-capriolo-livigno" class="waves-effect waves-light btn"><i class="material-icons left">call_made</i>Book Now</a>
                </div>
                <hr>
                <div class="infoGridBottom">
                    <h4 class="floorplan_header">Floorplan:</h4>
                    <img
                      src="/img/gallery/apt2/apt2_map.jpg"
                      data-caption="Floorplan for apartment 2"
                      alt="Floorplan for apartment 2"
                      class="materialboxed center full_width_map"
                    />
                  </div>
                </div>
                <div class="galleryDiv">
                  <h2 class="section__div">Gallery:</h2>
                  <div class="galleryGrid">
                    <div class="img__container">
                      <img
                        src="/img/gallery/apt2/apt2_kitchen.jpg"
                        data-caption="Something"
                        alt="Image 1"
                        class="gallery__img materialboxed"
                      />
                    </div>
                    <div class="img__container">
                      <img
                        src="/img/gallery/apt2/apt2_bathroom.jpg"
                        data-caption="Something"
                        alt="Image 2"
                        class="gallery__img materialboxed"
                      />
                    </div>
                    <div class="img__container">
                      <img
                      src="/img/gallery/apt2/apt2_livingroom.jpg"
                        data-caption="Something"
                        alt="Image 3"
                        class="gallery__img materialboxed"
                      />
                    </div>
                    <div class="img__container">
                      <img
                        src="/img/gallery/apt2/apt2_overview.jpg"
                        data-caption="Something"
                        alt="Image 4"
                        class="gallery__img materialboxed"
                      />
                    </div>
                    <div class="img__container">
                        <img
                          src="/img/gallery/apt2/apt2_bathroom2.jpg"
                          data-caption="Something"
                          alt="Image 5"
                          class="gallery__img materialboxed"
                        />
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="apartment3" class="apartment3 section scrollspy section__light">
            <div class="section__div">
              <h1>Apartment 3</h1>
              <div class="colGrid__2-3">
                <div class="rowGrid">
                  <div class="infoGridTop">
                    <h3>About the apartment:</h3>

                    <p class="apartment__paragraph">
                      Two bedroom apartment with balcony. The bedroom has a
                      double bed, a large wardrobe and freshly washed sheets. In
                      the hallway there is a sofa that can be used as a sofa bed
                      in addition to the TV. The bathroom has a toilet, bidet,
                      shower and sink, as well as freshly washed towels. The
                      kitchen is equipped with a hob, fridge and cutlery etc. In
                      addition there is a dining table, kettle and microwave.
                      The apartment is best suited for couples and small
                      families.
                    </p>
                    <a href="https://www.booking.com/hotel/it/residence-capriolo-livigno" class="waves-effect waves-light btn">
                      Book Now
                      <i class="material-icons left">call_made</i>
                    </a>
                  </div>
                  <hr>
                  <div class="infoGridBottom">
                    <div class="img__container">
                      <h4 class="floorplan_header">Floorplan:</h4>
                      <img
                        src="/img/gallery/apt3/apt3_map.jpg"
                        data-caption="Floorplan for apartement 3"
                        alt="Floorplan for apartement 3"
                        class="materialboxed center full_width_map"
                      />
                    </div>
                  </div>
                </div>
                <div class="galleryDiv">
                  <h2 class="section__div">Gallery:</h2>
                  <div class="galleryGrid">
                    <img
                      src="/img/gallery/apt3/apt3_bedroom1.jpg"
                      alt="Image 1"
                      class="gallery__img materialboxed"
                      data-caption="Something"
                    />
                    <img
                      src="/img/gallery/apt3/apt3_bedroom2.jpg"
                      alt="Image 2"
                      class="gallery__img materialboxed"
                      data-caption="Something"
                    />
                    <img
                      src="/img/gallery/apt3/apt3_kitchen1.jpg"
                      alt="Image 3"
                      class="gallery__img materialboxed"
                      data-caption="Something"
                    />
                    <img
                      src="/img/gallery/apt3/apt3_kitchen2.jpg"
                      alt="Image 4"
                      class="gallery__img materialboxed"
                      data-caption="Something"
                    />
                    <img
                      src="/img/gallery/apt3/apt3_bathroom.jpg"
                      alt="Image 5"
                      class="gallery__img materialboxed"
                      data-caption="Something"
                    />
                    <img
                      src="/img/gallery/apt3/apt3_livingroom.jpg"
                      alt="Image "
                      class="gallery__img materialboxed"
                      data-caption="Something"
                    />
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section id="apartment4" class="apartment4 section scrollspy section__dark">
            <div class="section__div">
              <h1>Apartment 4</h1>
              <div class="colGrid__2-3">
                <div class="rowGrid">
                  <div class="infoGridTop">
                    <h3>About the apartment:</h3>

                    <p class="apartment__paragraph">
                      The apartment is a three rooms with two bedrooms, one
                      living room, bathroom, kitchen and two balcony. In one
                      bedroom there is a double bed, in the other one bunk bed
                      for two persons, and each room is complete with sheets and
                      a wardrobes. The living room contains a fully furnished
                      kitchen, microwave, television and a sofa bed for one
                      person. In the bathroom you will find a shower and fresh
                      towels. The apartment is suitable from 4 persons to 5
                      persons.
                    </p>
                        <a href="https://www.booking.com/hotel/it/residence-capriolo-livigno" class="waves-effect waves-light btn">
                    Book Now
                    <i class="material-icons left">call_made</i>
                  </a>
                  </div>
                  <hr>
                  <div class="infoGridBottom">
                    <h4 class="floorplan_header">Floorplan:</h4>
                    <img
                      src="/img/gallery/apt4/apt4_map.jpg"
                      alt="Floorplan over the apartment"
                      class="materialboxed center full_width_map"
                      data-caption="Something"/>
                  </div>
                </div>
                <div class="galleryDiv">
                  <h2 class="section__div">Gallery:</h2>
                  <div class="galleryGrid">
                    <img
                      src="/img/gallery/apt4/apt4_livingroom.jpg"
                      alt="Image 1"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt4/apt4_bedroom1.jpg"
                      alt="Image 2"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt4/apt4_kitchen1.jpg"
                      alt="Image 4"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt4/apt4_kitchen2.jpg"
                      alt="Image 5"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt4/apt4_bathroom2.jpg"
                      alt="Image 6"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt4/apt4_2nd_bedroom2.jpg"
                      alt="Image 9"
                      class="gallery__img materialboxed"
                    />
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section id="apartment5" class="apartment5 section scrollspy section__light">
            <div class="section__div">
              <h1>Apartment 5</h1>
              <div class="colGrid__2-3">
                <div class="rowGrid">
                  <div class="infoGridTop">
                    <h3>About the apartment:</h3>
                    <p class="apartment__paragraph">
                      The apartment is a three rooms with two bedrooms, one
                      living room, bathroom, kitchen and two balcony. In one
                      bedroom there is a double bed, in the other two single bed
                      (which can eventually become a double bed), and each room
                      is complete with sheets and a wardrobes. The living room
                      contains a fully furnished kitchen, microwave, television
                      and a sofa bed for one or two persons. In the bathroom you
                      will find a shower and fresh towels. The apartment is
                      suitable from 4 persons to 6 persons.
                    </p>
                    <a href="https://www.booking.com/hotel/it/residence-capriolo-livigno" class="waves-effect waves-light btn">
                      Book Now
                      <i class="material-icons left">call_made</i>
                    </a>
                  </div>

                  <hr>
                  <div class="infoGridBottom">
                    <h4 class="floorplan_header">Floorplan:</h4>
                    <img
                      src="/img/gallery/apt5/apt5_map.jpg"
                      alt="Floorplan for apartment 5"
                      class="materialboxed center full_width_map"
                      data-caption="Floorplan for apartmnt 5"
                    />
                  </div>
                </div>

                <div class="galleryDiv">
                  <h2 class="section__div">Gallery:</h2>
                  <div class="galleryGrid">
                    <img
                      src="/img/gallery/apt5/apt5_overview.jpg"
                      alt="Image 1"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt5/apt5_kitchen.jpg"
                      alt="Image 2"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt5/apt5_bathroom.jpg"
                      alt="Image 3"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt5/apt5_bedroom1.jpg"
                      alt="Image 4"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt5/apt5_bedroom2.jpg"
                      alt="Image 5"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt5/apt5_livingroom.jpg"
                      alt="Image 6"
                      class="gallery__img materialboxed"
                    />
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section id="apartment6" class="apartment6 section scrollspy section__dark">
            <div class="section__div">
              <h1>Apartment 6</h1>
              <div class="colGrid__2-3">
                <div class="infoGridTop">
                  <div class="infoGrid">
                    <div class="rowGrid">
                      <div>
                        <h3>About the apartment:</h3>
                        <p class="apartment__paragraph">
                          Single room apartment with large double bed, wardrobe
                          and freshly washed linen. the bathroom has bidet,
                          toilet, sink and shower. The apartment has a balcony,
                          a small kitchen with a hob, fridge and various
                          appliances. There is also a dining table and TV. The
                          apartment is best suited for singles or couples as
                          there is only sleeping space for 2 people.
                        </p>
                        <a href="https://www.booking.com/hotel/it/residence-capriolo-livigno" class="waves-effect waves-light btn">
                          Book Now
                          <i class="material-icons left">call_made</i>
                        </a>
                      </div>
                      <hr>
                      <div class="infoGridBottom">
                        <h4 class="floorplan_header">Floorplan:</h4>
                        <img
                          src="/img/gallery/apt6/apt6_map.jpg"
                          alt="Floorplan for apartment 6"
                          class="materialboxed center full_width_map"
                          data-caption="Floorplan for apartment 6"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="galleryDiv">
                  <h2 class="section__div">Gallery:</h2>
                  <div class="galleryGrid">
                    <img
                      src="/img/gallery/apt6/apt6_overview.jpg"
                      alt="Image 1"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt6/apt6_kitchen.jpg"
                      alt="Image 2"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt6/apt6_bed1.jpg"
                      alt="Image 3"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt6/apt6_bed2.jpg"
                      alt="Image 4"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt6/apt6_bathroom.jpg"
                      alt="Image 5"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt6/apt6_balcony.jpg"
                      alt="Image 6"
                      class="gallery__img materialboxed"
                    />
                  </div>
                </div>
              </div>
            </div>
          </section>

          <section id="apartment7" class="apartment7 section scrollspy section__light">
            <h1 class="center">Apartment 7</h1>
            <div class="section__div">
              <div class="colGrid__2-3">
                <div class="rowGrid">
                  <div class="infoGridTop">
                    <h3 class="center">About the apartment:</h3>
                    <p class="apartment__paragraph">
                      The apartment is a single room with bathroom and a living
                      area. In the flat there are a double bed (which can
                      eventually become two single beds) with sheets, and a
                      wardrobe. The living area contains a fully furnished
                      kitchen, microwave, a table, and television. In the
                      bathroom you will find a shower and fresh towels.
                    </p>
                    <a href="https://www.booking.com/hotel/it/residence-capriolo-livigno" class="waves-effect waves-light btn">
                      Book Now
                      <i class="material-icons left">call_made</i>
                    </a>
                  </div>
                  <hr>
                  <div class="infoGridBottom">
                    <h4 class="floorplan_header">Floorplan:</h4>
                    <img
                      src="/img/gallery/apt7/apt7_map.jpg"
                      alt="Floorplan for the apartment"
                      class="materialboxed center full_width_map"
                      data-caption="Floorplan for apartment 7"
                    />
                  </div>
                </div>

                <div class="galleryDiv">
                  <h3 class="center">Gallery:</h3>
                  <div class="galleryGrid">
                    <img
                      src="/img/gallery/apt7/apt7_bed.jpg"
                      alt="Image 1"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt7/apt7_kitchen.jpg"
                      alt="Image 2"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt7/apt7_livingroom1.jpg"
                      alt="Image 3"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt7/apt7_livingroom2.jpg"
                      alt="Image 4"
                      class="gallery__img materialboxed"
                    />
                    <img
                      src="/img/gallery/apt7/apt7_overview.jpg"
                      alt="Image 5"
                      class="gallery__img materialboxed"
                    />
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <script src="/dist/app.js"></script>
  </body>
</html>
