<h1 class="center">Apartment</h1>
<div class="section__div">
  <div class="colGrid__2-3">
    <div class="rowGrid">
      <div>
        <h3 class="center">About the apartment:</h3>
      </div>
      <div>
        <!-- //floorplan inside here -->
      </div>
    </div>
  </div>
</div>
